{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                  <div class="card-header card-header-info">
                    <h4 class="card-title mt-0">Tanques de Agua</h4>
                    <p class="card-category"> Aquí podrás verificar los datos de los tanques de agua pertenecientes a todos los puntos de distribución</p>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead class="">
                          <th>
                                ID
                          </th>
                          <th>
                              Comedor
                          </th>
                          <th>
                              Capacidad (Litros)
                          </th>
                          <th>
                              Nivel actual (Litros)
                          </th>
                          <th>
                              Último llenado
                          </th>
                          <th>
                              Acciones
                          </th>
                        </thead>
                        <tbody>

                            {% for i in object_list %}
                                    <tr>
                                        <td>
                                            {{ i.id }}
                                        </td>
                                        <td>
                                            {{ i.refectory_name }}
                                        </td>
                                        <td>
                                            {{ i.capacity }} <!--OJO ESTO ES CAPACIDAD DE COMEDORES POR LO QUE VEO-->
                                        </td>
                                        <td>
                                            {{ i.current_liters }} <!--OJO ESTO ES CAPACIDAD DE COMEDORES POR LO QUE VEO-->
                                        </td>
                                        <td>
                                            {{ i.last_fill_date }} <!--OJO ESTO DEBERIA SER DEL OBJETO WATER TANK PERO LO ENTIENDE (?)-->
                                        </td>
                                        <td>
                                            <a href="{% url 'dashboard:water_managements:water_management_list' i.id %}">
                                                <button type="button" class="btn" style='background-color: #37005D'><i class="material-icons">opacity</i> Ver Operaciones</button>
                                            </a>
                                        </td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </br>
        </br>

        </div>

    </br>
</br>
    <p style="float: left; margin-left: 50px;">
        <a  href="{% url 'home' %}">
        <button type="button" class="btn btn-default">Regresar</button>
        </a>
    </p>
    

{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
