{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">
            Crear una cuenta de autorizado
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
              {% if msg %}
                <span class="text-danger">{{ msg }}</span>
              {% else %}
                agrega todos los datos
              {% endif %}  
          </h6>
          
          <br />

          {% if success %}

            <p class="">
              Desde este momento, el usuario nuevo puede ingresar al sistema.
            </p>  

          {% else %}
            <form role="form" method="post" action="">
                
              {% csrf_token %} 

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email</label>
                    {{ form.email }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.email.errors }}</span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Password</label>
                    {{ form.password1 }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.password1.errors }}</span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Verifica el Password</label>
                    {{ form.password2 }}
                  </div>
                </div>
              </div>


              <span class="text-danger">{{ form.password2.errors }}</span>

              <br />
              <p class="pull-left">
                <a  href="{% url 'dashboard:user:list_users' %}">
                <button type="button" class="btn btn-default">Regresar</button>
                </a>
            </p>

              <button type="submit" name="register" class="btn btn-info pull-right">Registrar</button>

              &nbsp; &nbsp; 

              <div class="clearfix"></div>

            </form>
          {% endif %}

        </div>
      </div>
    </div>
    <div class="col-md-5">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="">
              <img class="img" src="/static/assets/img/flats/user.png" />
            </a>
          </div>
          <div class="card-body">

              <h4 class="card-title">
                   Un usuario autorizado tendra permisos limitados a ejercer 
                   control sobre un comedor, y podra ingresar al sistema una vez
                   que tenga un comedor bajo su control. 
              </h4>
            </br>
              <h4>
                  <strong>No olvides asignarle un comedor
                    desde el panel administrativo de usuario!!!</strong>
              </h4>
            </div>   
        </div>
      </div>

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
