{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">
            Registrar Usuario
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
              {% if msg %}
                <span class="text-danger">{{ msg }}</span>
              {% else %}
                Completar todos los campos
              {% endif %}  
          </h6>
          
          <br />

          {% if success %}

            <p class="">
              Desde este momento, el usuario nuevo puede ingresar al sistema.
            </p>  

          {% else %}
            <form role="form" method="post" action="">
                
              {% csrf_token %} 

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Correo</label>
                    {{ form.email }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.email.errors }}</span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Contraseña</label>
                    {{ form.password1 }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.password1.errors }}</span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Verificar la contraseña</label>
                    {{ form.password2 }}
                  </div>
                </div>
              </div>


              <span class="text-danger">{{ form.password2.errors }}</span>

              <br />
              <p class="pull-left">
                <a  href="{% url 'dashboard:user:list_users' %}">
                <button type="button" class="btn btn-default">Regresar</button>
                </a>
            </p>

              <button type="submit" name="register" class="btn btn-success pull-right">Registrar</button>

              &nbsp; &nbsp; 

              <div class="clearfix"></div>

            </form>
          {% endif %}

        </div>
      </div>
    </div>
    <div class="col-md-5">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="">
              <img class="img" src="/static/assets/img/flats/user.png" />
            </a>
          </div>
          <div class="card-body" style="text-align: justify;">
            <div style="padding: 0px 30px;">
                <h4 class="card-title" >
                  Los usuarios a registrar tendrán acciones limitadas y 
                  podrán ingresar al sistema una vez se les asigne un comedor.
                </h4>
              </br>
                <h4>
                  <strong>Luego de registrar al usuario podras asignarle un comedor en: <br>
                    Usuarios -> Ver usuarios -> Editar.</strong>
                </h4>
              </div>
            </div>   
        </div>
      </div>

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
