{% load widget_tweaks %}


<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Eliminar</h2>
        </div>
        <form>
            <div class="modal-body">
                <div class="form-group">
                  <label>¿Está seguro que desea eliminar el registro seleccionado?</label>
                  <p>La actividad de {{operation.activity}} con fecha {{operation.created}}</p>
                </div>
            </div>
          
            <div class="modal-footer">
            
            <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Cancelar</button>

            <a href="{% url 'dashboard:maintenance:maintenance_delete' operation.refectory_id operation.equipment_id operation.id %}">
              <button class="submit-btn btn btn-danger" type="button">Eliminar</button>
            </a>
            </div>
        </form>  
    </div>

</div>