{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .app-button{
        width: 150px;
        margin:0 40px;
        display:inline-block;
        line-height: 60px;
        border-radius: 50px;
    }
    .bttn-row{
    text-align:center;
    margin-left:-20px;
    margin-right:-20px;
    }
    .btn.btn-default.action:hover{
        background-color: #4caf50;
    }

</style>
{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                  <div class="card-header card-header-info">
                    <h4 class="card-title mt-0">Operaciones de los productos de mantenimiento del punto de distribución {{refectory_data.0.refectory_name}}</h4>
                    <p class="card-category"> Aquí podrás ver todas las operaciones sobre los productos de mantenimiento usados en el punto de distribución.</p>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table id="product_management_list" class="table table-hover">
                        <thead class="">
                          <th>
                              ID
                          </th>
                          <th>
                              Producto
                          </th>
                          <th>
                              Ingreso
                          </th>
                          <th>
                              Egreso
                          </th>
                          <th>
                              Unidad
                          </th>                           
                          <th>
                            Precio Unitario
                        </th>
                          <th>
                            Precio Total
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Responsable
                        </th>
                        <th>
                            Acciones
                        </th>
                        </thead>
                        <tbody>
  
                            {% for product_object in object_list %}
                                    <tr>
                                        <td>
                                            {{ product_object.id }}
                                        </td>
                                        <td>
                                            {{ product_object.product_name }}
                                        </td>
                                        {% if product_object.operation_type == "Ingreso"%}
                                        <td>
                                                {{ product_object.product_quantity }}    
                                        </td>
                                        <td>
                                            -            
                                        </td>
                                            {% endif %}
                                            {% if product_object.operation_type == "Egreso" %}
                                        <td>
                                            -
                                        </td>
                                        <td>    
                                               {{ product_object.product_quantity }}
                                            
                                        </td>
                                            {% endif %}   
                                        <td>
                                            {{ product_object.product_unit }}
                                        </td>                                     
                                        <td>
                                            {{ product_object.product_unitary_amount }}
                                        </td>
                                        <td>
                                            {{ product_object.product_total_amount }}
                                        </td>
                                        <td>
                                            {{ product_object.created }}
                                        </td>
                                        <td>
                                            {{ product_object.created_by }}
                                        </td>
                                        <td>
                                            {% if product_object.is_maintenance  %}
                                                <p> --Mantenimiento-- </p>
                                            {% else  %}
                                                {% if user.is_superuser and product_object.is_maintenance == False %}
                                            <a  href="{% url 'dashboard:product_managements:update' refectory_data.0.id product_object.id%}">
                                                <button type="button" class="btn btn-info btn-sm">Editar</button>
                                            </a>
                                            <button type="button" class="btn btn-danger btn-sm" style="margin-left: 5px;" title="Eliminar" onclick="open_modal('{% url 'dashboard:product_managements:product_management_modal' refectory_data.0.id product_object.id %}')">Eliminar</button>
                                                {% endif %}
                                            {% endif %}

                                            {% if user.is_superuser == False and product_object.is_maintenance == False %}
                                                <a  href="{% url 'dashboard:product_managements:update_guest' product_object.id%}">
                                                    <button type="button" class="btn btn-info btn-sm">Editar</button>
                                                </a>                                     
                                            {% endif %}
                                            
                                        </td>
                                        </tr>
                            {% endfor %}
  
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            {% comment %} aqui va validacion de super usuario para regresar {% endcomment %}
            <p style="float: left; margin-left: 50px;">
                {% if user.is_superuser %}
                <a  href="{% url 'dashboard:products:list_maintenance_product' refectory_data.0.id %}">
                <button type="button" class="btn btn-default action">Regresar</button>
                </a>
                {% else %}
                <a  href="{% url 'dashboard:products:list_maintenance_product_guest' %}">
                <button type="button" class="btn btn-default action">Regresar</button>
                </a>
                {% endif %}
            </p>
            <p class="bttn-row">
            {% if user.is_superuser %}
                <a  href="{% url 'dashboard:product_managements:create' refectory_data.0.id 0 %}">
                    <button type="button" class="btn btn-default action">Registrar Ingreso</button>
                </a>
                <a  href="{% url 'dashboard:product_managements:create' refectory_data.0.id 1 %}">
                    <button type="button" class="btn btn-default action">Registrar Egreso</button>
                </a>
            {% else %}
                <a  href="{% url 'dashboard:product_managements:create_guest' 0 %}">
                    <button type="button" class="btn btn-default action">Registrar Ingreso</button>
                </a>                
                <a  href="{% url 'dashboard:product_managements:create_guest' 1 %}">
                    <button type="button" class="btn btn-default action">Registrar Egreso</button>
                </a>
            {% endif %}
            </p>
              </div>
            </br>
        </br>

        <!-- <div class="col-md-4">
                    
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="">
                      <img class="img" src="/static/assets/img/flats/refectory.png" />
                    </a>
                  </div>
                    <div class="card-body">

                        <h4 class="card-title">
                            Punto de distribución:
                            <strong>{{refectory_data.0.refectory_name}}</strong> 
                        </br>
                            Direccion: 
                            {{refectory_data.0.refectory_address}}

                        </h4>
                      </div>    
                        

                  
            </div>
          </div> -->



            <div class="modal fade" id='modal_delete' role="dialog">
        </div>


{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/js/products/product_management_list.js"></script>
    <script type="text/javascript">
        var $ = jQuery.noConflict()
        function open_modal(url){
            $('#modal_delete').load(url, function(){
                $(this).modal('show');

            });
        }
    </script>
    <script src="/static/assets/js/notification-message.js"></script>
{% endblock javascripts %}
