{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                  <div class="card-header card-header-info">
                    <h4 class="card-title mt-0">Operaciones en el Tanque</h4>
                    <p class="card-category"> Aquí podras ver todas las operaciones de entrada y salida realizadas en el tanque de agua.</p>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table id="list_water_managements" class="table table-hover">
                        <thead class="">
                          <th style="width: 30px;">
                                ID
                          </th>
                          <th style="width: 95px;">
                              Entrada (Litros)
                          </th>
                          <th style="width: 85px;">
                              Salida (Litros)
                          </th>
                          <th style="width: 100px;">
                              Descripción
                          </th>                          
                          <th style="width: 120px;">
                              Precio Unitario(Bs/$)
                          </th>
                          <th style="width: 105px;">
                              Precio Total(Bs/$)
                          </th>
                          <th style="width: 110px;">
                              Responsable
                          </th>
                          <th style="width: 110px;">
                              Fecha
                          </th>                          
                          <th style="width: 155px;">
                              Acciones
                          </th>
                        </thead>
                        <tbody>

                            {% for i in object_list %}
                                    <tr>
                                        <td>
                                            {{ i.id }}
                                        </td>
                                        <td>
                                            {% if i.operation_type == "ingreso"%}
                                                {{ i.water_liters }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if i.operation_type == "consumo"%}
                                                {{ i.water_liters }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ i.operation_description }} 
                                        </td>                                                                               
                                        <td>
                                            {{ i.water_amount }} 
                                        </td>
                                        <td>
                                            {{ i.water_price_total }} 
                                        </td>
                                        <td>
                                            {{ i.created_by }} 
                                        </td>                                          
                                        <td>
                                            {{ i.created }}
                                        </td> 
                                        <td>
                                            <a  href="{% url 'dashboard:water_managements:water_management_update' tank_id i.id %}">
                                                <button type="button" class="btn-sm btn-info">Editar</button>
                                            {% if user.is_superuser %}
                                            <a href="{% url 'dashboard:water_managements:water_management_delete' i.id %}">
                                                <button type="button" class="btn-sm btn-danger">Eliminar</button>
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                            {% endfor %}
                            
                        </tbody>
                      </table>
                    </div>
                    <p style="float: left; margin-left: 50px;">
                        {% if user.is_superuser %}
                        <a  href="{% url 'dashboard:water_tanks:tanks_list' %}">
                        <button type="button" class="btn btn-default">Regresar</button>
                        </a>
                        {% else %}
                        <a  href="{% url 'dashboard:water_tanks:tanks_list_guest' %}">
                        <button type="button" class="btn btn-default">Regresar</button>
                        </a>
                        {% endif %}
                    </p>
                    <p style="float: right; margin-right: 50px;">
                        <a  href="{% url 'dashboard:water_managements:water_management_create' tank_id %}">
                        <button type="button" class="btn btn-success">Agregar Operación</button>
                        </a>
                    </p>
                  </div>
                  
                </div>
              </div>
        </div>

{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/js/list_water_managements.js"></script>
{% endblock javascripts %}
