{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .app-button{
        width: 150px;
        margin:0 40px;
        display:inline-block;
        line-height: 60px;
        border-radius: 50px;
    }
    .bttn-row{
    text-align:center;
    margin-left:-20px;
    margin-right:-20px;
    }
    

</style>

{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-9">
                <div class="card card-plain">
                    <br>
                  <div class="card-header card-header-info">
                    <h4 class="card-title mt-0">Operaciones en el Tanque del punto de distribución {{refectory_data.0.refectory_name}}</h4>
                    <p class="card-category"> Aquí podras ver todas las operaciones de entrada y salida realizadas en el tanque de agua.</p>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table id="list_water_managements" class="table table-hover">
                        <thead class="">
                          <th style="width: 30px;">
                                ID
                          </th>
                          <th style="width: 65px;">
                              Entrada (Litros)
                          </th>
                          <th style="width: 65px;">
                              Salida (Litros)
                          </th>
                          <th style="width: 100px;">
                              Descripción
                          </th>                          
                          <th style="width: 120px;">
                              Precio Unitario (Bs/$)
                          </th>
                          <th style="width: 105px;">
                              Precio Total (Bs/$)
                          </th>
                          <th style="width: 110px;">
                              Responsable
                          </th>
                          <th style="width: 120px;">
                              Fecha
                          </th>                          
                          <th style="width: 155px;">
                              Acciones
                          </th>
                        </thead>
                        <tbody>

                            {% for i in object_list %}
                                    <tr>
                                        <td>
                                            {{ i.id }}
                                        </td>
                                        <td>
                                            {% if i.operation_type == "ingreso"%}
                                                {{ i.water_liters }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if i.operation_type == "consumo"%}
                                                {{ i.water_liters }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ i.operation_description }} 
                                        </td>                                                                               
                                        <td>
                                            {{ i.water_amount }} 
                                        </td>
                                        <td>
                                            {{ i.water_price_total }} 
                                        </td>
                                        <td>
                                            {{ i.created_by }} 
                                        </td>                                          
                                        <td>
                                            {{ i.created }}
                                        </td> 
                                        <td>
                                            {% if user.is_superuser %}
                                            <a  href="{% url 'dashboard:water_managements:water_management_update' tank_id i.id %}" >
                                                <button type="button" class="btn-info" style="cursor : pointer " title="Editar">
                                                    Editar</button>
                                            </a>
                                            <a href="{% url 'dashboard:water_managements:water_management_delete' i.id %}">
                                                <button type="button" class="btn-danger" style="cursor : pointer; margin-left: 5px;" title="Eliminar">
                                                    Eliminar</button>
                                                
                                            </a>
                                            {% else %}
                                            <a  href="{% url 'dashboard:water_managements:water_management_update_guest' i.id %}" >
                                                <button type="button" class="btn-info" style="cursor : pointer " title="Editar">
                                                    Editar</button>
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                            {% endfor %}
                            
                        </tbody>
                      </table>
                    </div>

                    <p class="bttn-row">
                        {% if user.is_superuser %}
                        <a  href="{% url 'dashboard:water_managements:water_management_create' tank_id 0 %}">
                        <button type="button" class="btn btn-info app-button">Cargar</button>
                        </a>
                        <a  href="{% url 'dashboard:water_managements:water_management_create' tank_id 1 %}">
                            <button type="button" class="btn btn-success app-button">Vaciar</button>
                        </a>
                        {% else %}
                        <a  href="{% url 'dashboard:water_managements:water_management_create_guest' 0 %}">
                        <button type="button" class="btn btn-info app-button">Cargar</button>
                        </a>
                        <a  href="{% url 'dashboard:water_managements:water_management_create_guest' 1 %}">
                            <button type="button" class="btn btn-success app-button">Vaciar</button>
                        </a>
                        {% endif %}
                    </p>

                  </div>

                  <br>
                  <br>

                  <p style="float: left; margin-left: 50px;">
                    {% if user.is_superuser %}
                    <a  href="{% url 'dashboard:water_tanks:tanks_list' %}">
                    <button type="button" class="btn btn-default">Regresar</button>
                    </a>
                    {% else %}
                    {% comment %} redireccion a home {% endcomment %}
                    <a  href="/dashboard">
                    <button type="button" class="btn btn-default">Regresar</button>
                    </a>
                    {% endif %}
                </p>                  
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="">
                          <img class="img" src="/static/assets/img/flats/water.png" />
                      </a>
                  </div>
                  <div class="card-body">      
                    <h4 class="card-title">
                      Aquí podras realizar una operacion en el sistema donde
                      indiques algun ingreso o egreso generado por la venta o
                      compra de agua para el tanque.
                    </h4>
                    <div class="row">
    
                        <div class="col-md-12" style="background-color: rgba(153, 160, 160, 0.295); position: relative;">

                            <h4 style="margin-top: 10px;">Nivel del tanque</h4>        
                            {% include 'includes/water_tank.html' with water_percent=water_extra_fields.initial.water_percent%} 
                            <h4 class="" style="position: relative; top:50%; margin: 0;   -ms-transform: translateY(-50%); transform: translateY(-50%);">
                                Capacidad del tanque
                            </br>
                                <strong>{{ water_tank_form.capacity.initial }} lts.</strong> 
                            </br>
                            </br>
                                Litros actuales
                                </br>   
                                <strong>{{ water_tank_form.current_liters.initial }} lts.</strong> 

                            </h4>                             
                        </div>
                    </br>

                    </div>
                    <div class="row">

                        <div class="col-md-12" style="background-color: rgba(153, 160, 160, 0.219); position: absolute;">
                         
                        </div>

                    </div>
                  </div>   
                </div>
              </div>

        </div>

{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/js/list_water_managements.js"></script>
{% endblock javascripts %}
