{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                  <div class="card-header card-header-info">
                    <h4 class="card-title mt-0">Operaciones en el Tanque</h4>
                    <p class="card-category"> Aquí podras ver todas las operaciones de entrada y salida realizadas en el tanque de agua.</p>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead class="">
                          <th>
                                ID
                          </th>
                          <th>
                              Entrada (Litros)
                          </th>
                          <th>
                              Salida (Litros)
                          </th>
                          <th>
                              Precio Unitario(Bs/$)
                          </th>
                          <th>
                              Precio Total(Bs/$)
                          </th>
                          <th>
                              Fecha
                          </th>
                          <th>
                              Acciones
                          </th>
                        </thead>
                        <tbody>

                            {% for i in object_list %}
                                    <tr>
                                        <td>
                                            {{ i.id }}
                                        </td>
                                        <td>
                                            {% if i.operation_type == "ingreso"%}
                                                {{ i.water_liters }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if i.operation_type == "consumo"%}
                                                {{ i.water_liters }}
                                            {% endif %}
                                        </td>                                       
                                        <td>
                                            {{ i.water_amount }} 
                                        </td>
                                        <td>
                                            {{ i.water_price_total }} 
                                        </td>                                        
                                        <td>
                                            {{ i.created }}
                                        </td> 
                                        <td>
                                            <a  href="{% url 'dashboard:water_managements:water_management_update' tank_id i.id %}">
                                            <button type="button" class="btn btn-info">Editar</button>
                                            {% if user.is_superuser %}
                                            <button type="button" class="btn btn-danger">Eliminar</button>
                                            {% endif %}
                                        </td>
                                    </tr>
                            {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </br>
        </br>

        </div>

    </br>
</br>
    <p style="float: left; margin-left: 50px;">
        {% if user.is_superuser %}
        <a  href="{% url 'dashboard:water_tanks:tanks_list' %}">
        <button type="button" class="btn btn-default">Regresar</button>
        </a>
        {% else %}
        <a  href="{% url 'dashboard:water_tanks:tanks_list_guest' %}">
        <button type="button" class="btn btn-default">Regresar</button>
        </a>
        {% endif %}
    </p>
    <p style="float: right; margin-right: 50px;">
        <a  href="{% url 'dashboard:water_managements:water_management_create' tank_id %}">
        <button type="button" class="btn btn-success">Agregar Operación</button>
        </a>
    </p>

{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
