{% extends "layouts/base.html" %}
{% load widget_tweaks %}
{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header card-header-info">
        <h4 class="card-title">Realiza una Operación de "Ingreso" o "Egreso"</h4>
            <p class="card-category">Completa los datos.</p>
      </div>
      <div class="card-body">
        <form onsubmit="return validate()" method="post">
          {% csrf_token %}           
          <br/>
          <div class="col">
            <div class="form-group">
              <label class="bmd-label-floating">Tipo de operación</label>
              {% if tank_info.operation == 0 %}
                <input type="text" value="Ingreso" id="operation_type" name="operation_type" class="form-control" readonly>
              {% else %}
                <input type="text" value="Egreso" id="operation_type" name="operation_type" class="form-control" readonly>
              {% endif %}
            </div>
            <span id="operation_type_error" class="text-danger" style="display : none"></span>
          </div>       

          {% if tank_info.sell_operation %}
            <br/>
          {% endif %}

          <div class="col">
            <div class="form-group">
              <label class="bmd-label-floating">Descripción</label>
              {% if tank_info.sell_operation %}    
                <input type="text" value="Venta" id="operation_description" name="operation_description" class="form-control" readonly>
              {% else %}
                <select id="operation_description" name="operation_description" class="form-control">
                  <option value="none">Seleccione la descripción adecuada... </option>
                  {% if tank_info.operation == 0 %}
                  <option value="Cisterna">Cisterna</option>
                  <option value="Tuberia">Tuberías</option>
                  {% else %}
                  <option value="Mantenimiento">Mantenimiento</option>
                  <option value="Venta">Venta</option>
                  <option value="Uso Interno">Uso interno</option>
                  {% endif %}
                </select>
              {% endif %}
            </div>
            <span id="operation_description_error" class="text-danger" style="display : none"></span>
          </div>

          <br/>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Litros de Agua</label>
                 <input id="water_liters" type="number" class="form-control" name="water_liters">
              </div>
              <span id="water_liters_error" class="text-danger" style="display : none"></span>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Precio Unitario (Bolívares)</label>
                {% if tank_info.sell_operation %}
                  <input id="water_amount" type="number" value="{{ tank_info.sell_price }}" step="0.01" class="form-control" name="water_amount" readonly>
                {% else %}
                  <input id="water_amount" type="number" step="0.01" class="form-control" name="water_amount">
                {% endif %}
              </div>
              <span id="water_amount_error" class="text-danger" style="display : none"></span>
            </div>
          </div>

          <br/>
          <p class="pull-left">
            {% if user.is_superuser %}
            <a  href="{% url 'dashboard:water_managements:water_management_list' tank_info.id %}"> <!--{% url dashboard:water_managements:water_management_list-->
              <button type="button" class="btn btn-default">Regresar</button>
            </a>
            {% else %}
            <a  href="{% url 'dashboard:water_managements:water_management_list_guest' %}"> <!--{% url dashboard:water_managements:water_management_list-->
              <button type="button" class="btn btn-default">Regresar</button>
            </a>
            {% endif %}
          </p>
          <button id="submit-button" type="submit" class="btn btn-success pull-right">Realizar Operación</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
    <div class="col-md-5">
      <div class="card card-profile">
        <div class="card-avatar">
            <a href="">
                <img class="img" src="/static/assets/img/flats/water.png" />
            </a>
        </div>
        <div class="card-body" style="text-align: justify">      
          <div class="card-title" style="text-align: center">
          <h4>
            Aquí podras realizar una operación en el sistema donde
            indiques algun ingreso o egreso generado 
            en el tanque de agua.
          </h4>
          </div>
          </br>
          <h4>
            Podrás registrar ingresos por concepto de:
            <ul>
              <li>Cisterna</li>
              <li>Tubería</li>
            </ul>
            Podrás registrar egresos por concepto de:
            <ul>
              <li>Venta de agua</li>
              <li>Mantenimiento</li>
              <li>Uso interno</li>
            </ul>        
          </h4>
        </div>   
      </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>
    var tank_id = "{{ tank_info.id | safe }}"
    var tank_capacity = "{{ tank_info.capacity | safe }}"
    var tank_current_liters = "{{ tank_info.current_liters | safe }}"
  </script>
  <script src="/static/assets/js/water_managements.js"></script>
{% endblock javascripts %}
