{% extends "layouts/base.html" %}
{% load widget_tweaks %}
{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header card-header-info">
        <h4 class="card-title">Modificar una operación en el tanque de agua.</h4>
            <p class="card-category">Podrás modificar los datos ingresados anteriormente. </p>
      </div>
      <div class="card-body">
        <form onsubmit="return validate()" method="post">
          {% csrf_token %}
                          
          <br/>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                 <label class="bmd-label-floating">Tipo de operación</label>
                  {% render_field form.operation_type class="form-control" name="operation_type" id="operation_type" %}
              </div>
              <span id="operation_type_error" class="text-danger" style="display : none"></span>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                 <label class="bmd-label-floating">Descripción</label>
                 {% render_field form.operation_description class="form-control" name="operation_description" id="operation_description" %}
              </div>
              <span id="operation_description_error" class="text-danger" style="display : none"></span>
            </div>
          </div>

          <br/>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Litros de Agua</label>
                 {% render_field form.water_liters class="form-control" name="water_liters" id="water_liters" type="number" %}
              </div>
              <span id="water_liters_error" class="text-danger" style="display : none"></span>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Precio Unitario (Bolívares)</label>
                 {% render_field form.water_amount class="form-control" name="water_amount" id="water_amount" type="number" step="0.01" %}
              </div>
              <span id="water_amount_error" class="text-danger" style="display : none"></span>
            </div>
          </div>

          <br/>
          <p class="pull-left">
            {% if user.is_superuser %}
            <a  href="{% url 'dashboard:water_managements:water_management_list' tank_info.id %}"> <!--{% url dashboard:water_managements:water_management_list-->
              <button type="button" class="btn btn-default">Regresar</button>
            </a>
            {% else %}
            <a  href="{% url 'dashboard:water_managements:water_management_list_guest' %}"> <!--{% url dashboard:water_managements:water_management_list-->
              <button type="button" class="btn btn-default">Regresar</button>
            </a>
            {% endif %}
          </p>
          <button id="submit-button" type="submit" class="btn btn-success pull-right">Actualizar</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="card card-profile">
      <div class="card-avatar">
          <a href="">
              <img class="img" src="/static/assets/img/flats/water.png" />
          </a>
      </div>
      <div class="card-body" style="text-align: justify;">  
        <div style="padding: 0px 30px;">    
          <h4 class="card-title">
            Aquí podras modificar los datos sobre el ingreso o egreso generado por la venta/compra de agua para el tanque.
          </h4>
          </br>
          <h4>
            <strong>No olvides que para registrar los datos debes 
              seleccionar el tipo de operación a realizar: "Ingreso"
              o "Egreso" y luego darle al botón "Actualizar" para guardar los cambios realizados.</strong>
          </h4>
        </div>
      </div>   
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>
    var tank_id = "{{ tank_info.id | safe }}"
    var tank_capacity = "{{ tank_info.capacity | safe }}"
    var current_tank_liters = "{{ tank_info.current_liters | safe }}"
    var original_operation_liters = "{{ form.water_liters.value | safe }}"
    var original_operation_type = "{{ form.operation_type.value | safe }}"
  </script>
  <script src="/static/assets/js/water_managements/water_managements.js"></script>
{% endblock javascripts %}