{% extends "layouts/base.html" %}

{% block title %} Puntos de Distribución {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                  <div class="card-header card-header-info">
                    <h4 class="card-title mt-0">Puntos de Distribución </h4>
                    <p class="card-category"> Aqui podrás crear y editar los Puntos de Distribución con los que se trabaja actualmente</p>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table id="refectories_list" class="table table-hover">
                        <thead class="">
                          <th>
                              ID
                          </th>
                          <th>
                              Nombre
                          </th>
                          <th>
                              Ciudad
                          </th>
                          <th>
                              Capacidad de los Tanques (L)
                          </th>
                          <th>
                            Encargados
                        </th>
                          <th>
                            Acciones
                        </th>
                        </thead>
                        <tbody>
  
                            {% for refectory_object in object_list %}
                                    <tr>
                                        <td>
                                            {{ refectory_object.id }}
                                            </td>
                                        <td>
                                            {{ refectory_object.name }}
                                        </td>
                                        <td>
                                            {{ refectory_object.address }}
                                        </td>
                                        <td>
                                            {{ refectory_object.capacity }}
                                        </td>
                                        <td>
                                            <ul style="margin: unset;">

                                                {% for i in refectory_object.mandated %}
                                            
                                                    <li>{{i}}</li>

                                                {% endfor %}

                                            </ul>
                                        </td>
                                        <td>
                                            <a href="{% url 'dashboard:refectory:edit_refectory' refectory_object.id %}">
                                                <button type="button" class="btn btn-info">Editar</button>
                                            </a>
                                        </td>
                                        </tr>
                            {% endfor %}
  
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </br>
        </br>

        </div>

    </br>
</br>
    <p style="float: left; margin-left: 50px;">
        <a  href="{% url 'home' %}">
        <button type="button" class="btn btn-default">Regresar</button>
        </a>
    </p>
    <p style="float: right; margin-right: 50px;">
        <a  href="{% url 'dashboard:refectory:create_refectory' %}">
        <button type="button" class="btn btn-success">Agregar Punto de Distribución</button>
        </a>
    </p>
{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/js/refectories/refectories.js"></script>
<script src="/static/assets/js/notification-message.js"></script>
{% endblock javascripts %}
