{% extends "layouts/base.html" %}
{% load widget_tweaks %}
{% block title %} Actualizar Equipo {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header card-header-info">
        <h4 class="card-title">Actualizar los datos del Equipo</h4>
            <p class="card-category">Completa los datos</p>
      </div>
      <div class="card-body">
        <form onsubmit="return validate()" method="post">
          {% csrf_token %}
                          
          <br/>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="bmd-label-floating">Nombre del equipo  <b>*</b></label>
                {% render_field form.name name="name" id="name" class="form-control" readonly="true" %}
              </div>
              <span id="name_error" class="text-danger" style.visibility = "hidden"></span>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="bmd-label-floating">Frecuencia de Mantenimiento  <b>*</b></label>
                {% render_field form.maintenance_frequency id="maintenance_frequency" name="maintenance_frequency" class="form-control" %}
              </div>
              <span id="maintenance_frequency_error" class="text-danger" style.visibility = "hidden"></span>
            </div>
          </div>

          <br/>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Marca  <b>*</b></label>
                {% render_field form.brand name="brand" id="brand" class="form-control" %}
              </div>
              <span id="brand_error" class="text-danger" style.visibility = "hidden"></span>
            </div>
            
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Modelo</label>
                {% render_field form.equipment_model id="equipment_model" name="equipment_model" class="form-control" %}
              </div>
              <span id="equipment_model_error" class="text-danger" style.visibility = "hidden"></span>
            </div>
            
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Potencia</label>
                {% render_field form.power id="power" name="power" step="0.01" class="form-control" %}
              </div>
              <span id="power_error" class="text-danger" style.visibility = "hidden"></span>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Diámetro de Entrada</label>
                {% render_field form.inlet_diameter name="inlet_diameter" id="inlet_diameter" step="0.01" class="form-control" %}
              </div>
              <span id="inlet_diameter_error" class="text-danger" style.visibility = "hidden"></span>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Diámetro</label>
              {% render_field form.diameter name="diameter" id="diameter" step="0.01" class="form-control" %}
              </div>
              <span id="diameter_error" class="text-danger" style.visibility = "hidden"></span>
            </div>
            
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Alto</label>
              {% render_field form.height name="height" id="height" step="0.01" class="form-control" %}
              </div>
              <span id="height_error" class="text-danger" style.visibility = "hidden"></span>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Volumen</label>
              {% render_field form.volume name="volume" id="volume" step="0.01" class="form-control" %}
              </div>
              <span id="volume_error" class="text-danger" style.visibility = "hidden"></span>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Medidas</label>
              {% render_field form.measurements name="measurements" id="measurements" class="form-control" %}
              </div>
              <span id="measurements_error" class="text-danger" style.visibility = "hidden"></span>
            </div>    

            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Flujo Máximo</label>
                {% render_field form.flow id="flow" name="flow" step="0.01" class="form-control" %}
              </div>
              <span id="flow_error" class="text-danger" style.visibility = "hidden"></span>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Tamaño del bombillo</label>
                {% render_field form.light_bulb_size id="light_bulb_size" name="light_bulb_size" step="0.01" class="form-control" %}
              </div>
              
              <span id="light_bulb_size_error" class="text-danger" style.visibility = "hidden"></span>
            </div>

            <div class="col-md-6">
              <div class="form-group" style="padding-top: 2.4em;">
                <label class="bmd-label-floating">Tamaño del cuarzo</label>
                {% render_field form.quartz_size id="quartz_size" name="quartz_size" step="0.01" class="form-control" %}
              </div>
              <span id="quartz_size_error" class="text-danger" style.visibility = "hidden"></span>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Repuesto</label>
                    <select id="spare_part" name="spare_part" class="form-control">
                        {% if object.spare_part.id != None %}
                        <option value="{{object.spare_part.id}}">{{object.spare_part.product_name}}</option>
                        {% else %}
                        <option value="">Seleccione repuesto del equipo... </option>
                        {% endif %}
                        {% for i in spare_info %}
                        <option value="{{i.id}}">{{i.product_name}}</option>
                        {% endfor %}
                    </select>
              </div>
              <span id="spare_part_error" class="text-danger" style.visibility = "hidden"></span>
            </div>
          </div>
          <br/>


          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="bmd-label-floating">Instrucciones</label>
                {% render_field form.instructions id="instructions" name="instructions" class="form-control" %}
              </div>
              <span id="instructions_error" class="text-danger" style.visibility = "hidden"></span>
            </div>
          </div>

          <br/>

          <p class="pull-left">
            <a  href="{% url 'dashboard:equipments:list_equipments' refectory.id %}"> <!--{% url dashboard:water_managements:water_management_list-->
              <button type="button" class="btn btn-default">Regresar</button>
            </a>
          </p>
          <button id="submit-button" type="submit" class="btn btn-success pull-right">Actualizar Equipo</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="card card-profile">
      <div class="card-avatar" style="max-width: 120px; max-height: 120px;">
          <a href="">
              <img class="img" src="/static/assets/img/flats/maintainance.png" />
          </a>
      </div>
      <div class="card-body">      
        <h4 class="card-title">
          Aquí podrás actualizar la información del equipo seleccionado.
          Los equipos cuentan con ciertas características que son necesarias para completar el formulario.
          Algunas otras pueden ser opcionales.
        </h4>
        </br>
      </div>   
    </div>
  </div>
</div>

{% endblock content %}
{% block javascripts %}
<script src="/static/assets/js/equipments/equipments.js"></script>
{% endblock javascripts %}