{% extends "layouts/base.html" %}
{% load widget_tweaks %}
{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header card-header-info">
        <h4 class="card-title">Actualiza una Operación de "Ingreso" o "Egreso"</h4>
        <p class="card-category">Modifica los datos.</p>
      </div>
      <div class="card-body">
        <form onsubmit="return validate()" method="post">
          {% csrf_token %}
                          
          <br/>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="bmd-label-floating">Nombre del producto</label>
                  {% render_field form.product_name class="form-control" name="product_name" id="product_name" readonly="True" %}
              </div>
              
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="bmd-label-floating">Tipo de operación</label>
                 {% render_field form.operation_type class="form-control" name="operation_type" id="operation_type" %}
              </div>
            </div>
          </div>

          </br>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Cantidad de unidades</label>
                  {% render_field form.product_quantity class="form-control" name="product_quantity" id="product_quantity" %}                
              </div>
              <span id="product_quantity_error" class="text-danger" style="display : none"></span>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Precio Unitario (Bolívares)</label>
                  {% render_field form.product_unitary_amount class="form-control" name="product_unitary_amount" id="product_unitary_amount" type="number" step="0.01" %}                  
              </div>
              <span id="product_unitary_amount_error" class="text-danger" style="display : none"></span>
            </div>
          </div>

          <br/>

          <p class="pull-left">
            {% if user.is_superuser %}
            <a  href="{% url 'dashboard:cupboard_managements:list_cupboard_management' refectory_info.refectory_id %}"> 
              <button type="button" class="btn btn-default">Regresar</button>
            </a>
            {% else %}
            <a  href="{% url 'dashboard:cupboard_managements:list_cupboard_single_management' %}"> 
              <button type="button" class="btn btn-default">Regresar</button>
            </a>
            {% endif %}            
          </p>
          <button id="submit-button" type="submit" class="btn btn-success pull-right">Actualizar</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="card card-profile">
      <div class="card-avatar">
          <a href="">
              <img class="img" src="/static/assets/img/flats/cupboard.png" />
          </a>
      </div>
      <div class="card-body">      
        <h4 class="card-title"></h4>
        </br>
        <h4>
          <strong></strong>
        </h4>
      </div>   
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
      var product_name = "{{ form.product_name.value | safe }}"
      var operation_type = "{{ form.operation_type.value | safe }}"
      var operation_quantity = "{{ form.product_quantity.value | safe }}"

      var products = [
        {% for prod in product_info %}
          {
            product_name: "{{prod.product_name}}",
            product_quantity: "{{prod.product_quantity}}",
          },
        {% endfor %}
      ]
    </script>
    <script src="/static/assets/js/cupboard/cupboard_managements.js"></script>
{% endblock javascripts %}