{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-8">
                <div class="card card-plain">
                  <div class="card-header card-header-info" >
                    <h4 class="card-title mt-0">Inventario de mantenimiento del punto de distribución <b>{{refectory_data.0.refectory_name}}</b></h4>
                    <p class="card-category"> Aqui podras ver todos los productos de mantenimiento del punto de distribución.</p>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table id="product_list" class="table table-hover">
                        <thead class="">
                          <th style="width: 30px;">
                              ID
                          </th>
                          <th style="width: 60px;">
                              Producto
                          </th>
                          <th style="width: 30px;">
                              Cantidad
                          </th>
                          <th style="width: 30px;">
                              Unidad
                          </th>

                        <!-- <th>
                            Acciones
                        </th> -->
                        </thead>
                        <tbody>
  
                            {% for product_object in object_list %}
                                    <tr>
                                        <td>
                                            {{ product_object.id }}
                                            </td>
                                        <td>
                                            {{ product_object.product_name }}
                                        </td>

                                        <td>
                                            {{ product_object.total_product_quantity }}
                                        </td>
                                        <td>
                                            {{ product_object.product_unit }}
                                        </td>
                                        <!-- <td>
                                            <a href="{% url 'dashboard:product_managements:list_product_management' refectory_data.0.id %}">
                                                <button type="button" class="btn btn-info">Ver Operaciones</button>
                                            </a>
                                        </td> -->
                                        </tr>
                            {% endfor %}
  
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </br>
        </br>
            {% if user.is_superuser %}
            <p style="float: left; margin-left: 50px;">
                <a  href="{% url 'dashboard:maintenance:refectories_maintenance_list' %}">
                <button type="button" class="btn btn-default">Regresar</button>
                </a>
            </p>
            {% else %}
            <p style="float: left; margin-left: 50px;">
                <a  href="/">
                <button type="button" class="btn btn-default">Regresar</button>
                </a>
            </p>
            {% endif %}

              </div>
            </br>
        </br>

        <div class="col-md-4">
                    
            <div class="card card-profile" >
                <div class="card-avatar">
                    <a href="">
                      <img class="img" src="/static/assets/img/flats/chemical.png" />
                    </a>
                  </div>
                    <div class="card-body">
                      <h4 class="card-title" style="padding-bottom: 20px;">
                        Punto de distribución:
                        <strong>{{refectory_data.0.refectory_name}}</strong> 
                        </br>
                        Direccion: 
                        {{refectory_data.0.refectory_address}}
                      </h4>
                      {% if user.is_superuser %}
                      <a  href="{% url 'dashboard:product_managements:list_product_management' refectory_data.0.id %}">
                        <button type="button" class="btn btn-warning">Ver Todas las Operaciones</button>
                      </a>
                      {% else %}
                      <a  href="{% url 'dashboard:product_managements:list_product_management_guest' %}">
                        <button type="button" class="btn btn-warning">Ver Todas las Operaciones</button>
                      </a>
                      {% endif %}                      
                    </div>    
                        

                  
            </div>
          </div>




        </div>


{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/js/products/product_list.js"></script>
{% endblock javascripts %}
