    <div class="sidebar" data-color="azure" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a href="/" class="simple-text logo-normal">
          ONG-web
        </a>
      </div>
      {% if user.is_authenticated %}
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item {% if 'index' == segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          {% url 'register' as register_view %} 

          <li class="nav-item dropdown {% if request.path == register_view %} active {% endif %}">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:;" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">person</i> Usuarios</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'register' %}">
                <i class="material-icons">person_add</i>
                <p>Registrar Usuarios</p>
              </a>
              <a class="dropdown-item" href="/user_list.html">
                  <i class="material-icons">person_search</i> 
                  <p>Ver Usuarios</p>
                </a>
          </li>

          <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-icons.html">
              <i class="material-icons">bubble_chart</i>
              <p>Icons</p>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}

    </div>
